<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Used Car Playground (Yeah baby we start to work!)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="bokehapp/static/ucp.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Used Car Playground</h1>
    <h2>
        <img src="bokehapp/static/1200px-Rensselaer_at_Hartford_Seal.png" alt="Logo for RPI" style="float: right; clear: none; padding: 20px 20px 20px 20px; 
                  height: 150px;" />
    </h2>
    <div class="menu">
        <a href="index.html">Home</a>
        <a href="index.html">Visualization</a>
    </div>

    <ul>
        <li>Playtools</li>
        <li>Select the Model/Year you like, see stats in map view. </li>
    </ul>

    <ul>
        <form action="">
            <label for="cars">这是品牌：</label>
            <select name="cars">
          <option value="BMW">BMW</option>
          <option value="Toyota">Toyota</option>
          <option value="Volkswagen">Volkswagen</option>
          <option value="Mercedes-Benz">Mercedes-Benz</option>
          <option value="Honda">Honda</option>
          <option value="Subaru">Subaru</option>
        </select>
        </form>
    </ul>

    <ul>
        <form action="">
            <label for="years">这是年份：</label>
            <select name="years">
          <option value="2015">2015</option>  
        </select>
        </form>
    </ul>
    {% extends base %} {% block contents %}
    <div>
        {{ embed(roots.select) }} {{ embed(roots.bokeh_jinja_figure) }}
    </div>
    {% endblock %}
    <div class="footer">&copy; Copyright 2020 Used Car Playground</div>
</body>

</html>